<script type='text/template' id='tpl-button'>
    <button type='button' <%= id ? "id='" + id + "'" : '' %> class='btn <%= elClass %>'>
        <% if (icon.position === 'left') { %>
            <i class='<%= icon.elClass %>'></i>&nbsp;
        <% } %>
        <%= label %>
        <% if (icon.position === 'right') { %>
            &nbsp;<i class='<%= icon.elClass %>'></i>
        <% } %>
    </button>
</script>

<script type='text/template' id='tpl-toolbar'>
    <div class='toolbar navbar navbar-inner <%= elClass %>' id='<%= id %>'>
        <div class='<%= classLeft %>'></div>
        <div class='<%= classRight %>'></div>
    </div>
</script>

<script type='text/template' id='tpl-btnDropdown'>
    <div class='btn-group <%= type %>'>
        <button type='button' id='<%= id %>'
            class='btn  <%= elClass %> <%= !split ? "dropdown-toggle' data-toggle='dropdown'" : "" %>' >
                <% if (icon.position === 'left') { %>
                    <i class='<%= icon.elClass %>'></i>&nbsp;
                <% } %>

                <%= label %>

                <% if (icon.position === 'right') { %>
                    &nbsp;<i class='<%= icon.elClass %>'></i>
                <% } %>

                <% if (split) { %>
                    </button><button data-toggle='dropdown' class='btn dropdown-toggle <%= elClass %>'>
                <% } %>
                &nbsp;<span class='caret'></span>&nbsp;
        </button>
        <ul class='dropdown-menu'></ul>
    </div>
</script>

<script type='text/template' id='tpl-btnOption'>
    <li <%= id ? "id='" + id + "'" : '' %> class='<%= elClass %>'>
        <a href='#'>
        <% if (icon.position === 'left') { %>
            <i class='<%= icon.elClass %>'></i>&nbsp;
        <% } %>
        <%= label %>
        <% if (icon.position === 'right') { %>
            &nbsp;<i class='<%= icon.elClass %>'></i>
        <% } %>
    </a>
    </li>
</script>

<!-- KO design -->
<style>
    .live {
        margin-top: 55px;
        padding: 10px;
    }
</style>
<div class='live'>
    <p>First name: <input data-bind="value: firstName" /></p>
    <p>Last name: <input data-bind="value: lastName" /></p>
    <h2>Hello, <span data-bind="text: fullName"> </span>!</h2>
</div>

