doctype 5
html(lang='en')
    head
        title Test
        script(src='/socket.io/socket.io.js')
        script.
            var socket = io.connect("http://localhost:8000");
            socket.on("news", function(data) {
                console.log(data);
                alert(data.hello);
                socket.emit("my other event", { my: !{hey} });
            });
